html {
    font-size: 23px;
    font-family:"Mooli", Tahoma, sans-serif;
    overflow: auto;
     background-color: #ebe5d2
     ;
}
.forms {
    background-color: #d2691e;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;   
   box-shadow: 10px 7px 10px rgb(0, 0, 0);
   justify-content: space-around;
   transition: all .3s;
   border: 3px solid rgb(0, 0, 0);
    border-radius: 20px;    
}
.submit {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    margin-top: 5px;
    margin-bottom: 2px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
}
#form {
   margin-bottom: 4px;
}
.input {
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    :focus{
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}
.text {
    width: 50%;
    height: 22px;
}
.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: #d2691e;
    justify-content: space-around;
    height: 20%;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: 10px 7px 10px rgb(56, 52, 52);
}
.parent {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-around;
}
.remove {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 3px;
    padding: 12px 24px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 0;
    color: #3a4149;
    background: #e7ebee;
    line-height: 1.15;
    font-size: 16px;
    :hover {
        transition: all .1s ease;
        box-shadow: 0 0 0 0 #fff, 0 0 0 3px #1de9b6;
    }
   
}